[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.8.1"
"backports.zoneinfo" = "==0.2.1"
django = "==4.2.14"
django-filter = "==24.3"
djangorestframework = "==3.15.2"
importlib-metadata = "==8.2.0"
markdown = "==3.6"
pyyaml = "==6.0.1"
sqlparse = "==0.5.1"
typing-extensions = "==4.12.2"
xmltodict = "==0.13.0"
zipp = "==3.19.2"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.8"
